<div  layout="row" layout-fill >
    <section layout="row" flex layout-align="center center" class="login">
               
           <md-card layout="row " layout-align="space-around" class="md-whiteframe-4dp">
           <div layout="column"  layout-align="left"  class="divider" >
				<md-toolbar >
					<div layout="column" layout-padding>
						<div>
							<md-icon class="logo"></md-icon>
						</div>
						<div  class="md-headline md-padding">Login</div>
					</div>
				</md-toolbar>
				<md-card-content>
					<form name="login">
						<md-input-container class="md-block">
							<label for="email">Email</label>
							<input type="text" name="email" ng-model="user.email" required />
						</md-input-container>
						<md-input-container class="md-block">
							<label for="password">Password</label>
							<input type="password" name="password" ng-model="user.password" required />
						</md-input-container>
						<span class="md-warn" ng-show="!!$ctrl.errorMessage">{{$ctrl.errorMessage}}!</span>
						  <md-checkbox aria-label="Checkbox 1">
							Keep me logged in 
						  </md-checkbox>
						<md-input-container class="md-block">
							<div layout="row" layout-align="center center">
								<md-button class="md-raised md-accent"  ng-click="$ctrl.loginUser(user)">Login</md-button>
							</div>
				
	<!--
						<md-input-container class="md-block">
							<div layout="row" layout-align="center center">
								<md-button class="md-raised md-accent" flex="50" ng-click="$ctrl.fbLogin()">Login with Facebook</md-button>
							</div>
						</md-input-container>
	-->
					 
					</form>



				</md-card-content>
			 </div>

            
             <div class="vline"></div>
             <div layout="column" class="divider" layout-align="left">
                <md-toolbar>
					<div layout="column" layout-padding>
						<div>
							<md-icon class="logo"></md-icon>
						</div>
						<div class="md-headline md-padding">Register</div>
					</div>
            	</md-toolbar>
				<md-card-content>
					<form name="login" ng-hide="$ctrl.isLoggedIn">
						<md-input-container class="md-block">
							<label for="email">Email</label>
							<input type="email" name="email" ng-model="vm.email" required />
						</md-input-container>
						<md-input-container class="md-block">
							<label for="password">Password</label>
							<input type="password" name="password" ng-model="vm.password" required />
						</md-input-container>
						<md-input-container class="md-block">
							<label for="password">Password</label>
							<input type="password" name="password" ng-model="vm.password" required />
						</md-input-container>
						<span class="md-warn" ng-show="!!$ctrl.errorMessage">{{$ctrl.errorMessage}}!</span>
				
					   <md-input-container class="md-block">
							<div layout="row" layout-align="center center">
								<md-button class="md-raised md-accent" ng-click="">Registration</md-button>
							</div>
						</md-input-container>
					</form>



				</md-card-content>
			   </div>
        </md-card>
    </section>
</div>

